// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/marc7/image/upload/v1585591922/cool-offices-top-7_vovk8a.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.banner i {
  font-size: 50px;
}

.blue {
  color: $primary;
}

.grey {
  background-color: gray;
}

.white {
  color: white;
}

.scroll {
  text-align: center;
  margin-top: 85px;
}

.img-tutorial {
  height: 300px;
}

.tutorial {
  text-align: center;
}

.step {
  text-align: center;
}

.search-form {
  background-color: white;
  border-radius: $border-radius;
  margin-top:80px;
  margin-left: 30px;
  max-width: 400px;
}

.search-form h1 {
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m-t-25 {
  margin-top: 25px;
}
