.container-page {
  max-width: 1000px;
  min-height: 400px;
  margin: 0 auto;
}

.height-300 {
  height: 300px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.font-size-18 {
  font-size: 18px !important;
}

.p-l-50 {
  padding-left: 50px;
}

.page-title {
  text-align: center;
  margin-top: 20px;
}
