.filters {


}

.m-l-26 {
  margin-left: 26px;
}

.m-r-26 {
  margin-right: 26px;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  flex-grow: 1;
}

.card-img {
  width:100%;
  height:100%;
  background-size: cover;
}

.details {
  color: $gray;

  &:hover {
    color: black;
    text-decoration: none;
  }
}
