<div class="footer p-t-30">
  <div class="row">
    <div class="col-sm-3 footer-logo">
      <h5 class="bold p-l-15" >Workspace</h5>
    </div>

    <div class="col-sm-2 footer-discover">
      <p class="bold" >Discover Workspace</p>
      <p>About us</p>
      <p>How it works</p>
      <p>Top spaces in London</p>
      <p>Contact us</p>
    </div>

    <div class="col-sm-2 footer-partnership">
      <p class="bold" >partnership</p>
      <p>List a space</p>
      <p>Why join us</p>
      <p>FAQ partners</p>
    </div>

    <div class="col-sm-2 footer-legal">
      <p class="bold" >Legal</p>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
      <p>Cookie Policy</p>
    </div>

    <div class="col-sm-3 footer-follow-us">
      <p class="bold" >Follow us</p>
      <div class="footer-links flex">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-copyright p-b-5 p-r-5" align="right">
    This page is made with <i class="fas fa-heart"></i> in quarantine.
  </div>

</div>
