<div class="footer p-t-30">
  <div class="row">
    <div class="col-md-3 footer-logo">
      <h5 class="bold p-l-15" >Workspace</h5>
    </div>

    <div class="col-md-2 m-l-15 footer-discover">
      <p class="bold" >Discover Workspace</p>
      <a href="/about" class=""><p>About us</p></a>
      <p>How it works</p>
      <p>Top spaces</p>
      <p class="b5b5b5">Contact us</p>
    </div>

    <div class="col-md-2 m-l-15 footer-partnership">
      <p class="bold" >Partnership</p>
      <a href="/list"><p>List a space</p></a>
      <p class="b5b5b5">Why join us</p>
      <p class="b5b5b5">FAQ partners</p>
    </div>

    <div class="col-md-2 m-l-15 footer-legal">
      <p class="bold" >Legal</p>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
      <p>Cookie Policy</p>
    </div>

    <div class="col-md-2 m-l-15 footer-follow-us">
      <div class="footer-links flex p-r-5">
        <a href="#" class="disabled"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="disabled"><i class="fab fa-instagram"></i></a>
        <a href="#" class="disabled"><i class="fab fa-twitter"></i></a>
        <a href="#" class="disabled"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-copyright p-b-5 p-r-5" align="right">
    This page is made with <i class="fas fa-heart"></i> in quarantine.
  </div>

</div>
