<h3 class="page-title">About</h3>
<div class="container-page align-items-center">
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 font-size-18 p-30">
      <p>Workspace is the first platform that provides shared workspaces on-demand.</p>
      <br>
      <p>No more time wasted to find a perfect site in occasional locations. Now you can easily book a shared space with a convenient per-day pay as you go formula.</p>
      <br>
      <p>Boost your profitability focusing on what matter the most!</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 min-height-300" style="background-image: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?height=300');background-repeat: no-repeat;background-size: cover;">
    </div>
  </div>
</div>
