<h3 class="page-title">List your Space</h3>
<div class="container-page align-items-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 min-height-300 m-t-30" style="background-image: url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?height=300');background-repeat: no-repeat;background-size: cover;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 font-size-18 p-30">
      <p>Do you have a working space unused, even for few days?</p>
      <br>
      <p>Now you can generate extra-income renting the office space on a pay-as-you go formula even for short periods.</p>
      <br>
      <p>Earn up to £150 per person per day.</p>
      <br>
      <p> Send us a mail <a href="mailto:info@workspace.com" target="_blank">info@workspace.com</a> or call one of our partnership consultant (020) 1234 5678 </p>
    </div>
  </div>
</div>
