<div class="privacy m-20">
  <h3>PRIVACY POLICY</h3>
  <br>

  <h6>1.  Introduction</h6>

  <p>This Privacy Policy details how we use and process personal data provided to us.

  This Privacy Policy affects your legal rights and obligations so please read it carefully. If you do not agree to be bound by this Privacy Policy, please do not provide your personal data to us.

  We may update this Privacy Policy from time to time at our discretion and in particular to reflect any changes in applicable laws. If we do so, and the changes substantially affect your rights or obligations, we shall notify you if we have your email address. Otherwise, you are responsible for regularly reviewing this Privacy Policy so that you are aware of any changes to it.

  We are the controller of the personal data provided to us for the purposes of applicable data protection legislation.</p>
  <br>

  <h6>2.  Whose personal data do we collect?</h6>

  <p>By personal data we mean identifiable information about you, such as your name, email address, gender, age, mobile and home telephone number and your IP address.

  We do not collect special categories of personal data about you.

  Information you provide to us

  From time to time you may provide to us personal data. This may be because you wish to:
  <ul>
    <li>use our website;</li>
    <li>create an account with us on our website;</li>
    <li>purchase services from us;</li>
    <li>provide services to us; or</li>
    <li>otherwise contact us including with queries, comments or complaints.</li>
  </ul>

  You may provide personal data to us directly, or to us through our social media platforms.

  We shall process all such personal data in accordance with this Privacy Policy. Certain personal data is mandatory to be provided to us in order that we can fulfil your request, for example to create an account with us, and we shall make this clear to you at the point of collection of the personal data.

  If you provide to us personal data about any other individual, you must have their consent to do so.


  All personal data that you provide to us must be true, complete and accurate. If you provide us with inaccurate or false data, and we suspect or identify fraud, we will record this and we may also report this to the appropriate authorities.

  At our request, you shall promptly provide evidence of your identity.

  When you contact us by email or post, we may keep a record of the correspondence and we may also record any telephone call we have with you.

  When you use our website, we automatically collect and store information about your device and your activities. This information could include:
  <ul></ul>
  <ul>
    <li>technical information about your device such as type of device, web browser or operating system;</li>
    <li>your preferences and settings such as time zone and language;</li>
    <li>how long you used the website and which services and features you used.</li>
  </ul>

  Some of this information is collected using cookies and similar tracking technologies. If you want to find out more about the types of cookies we use, why, and how you can control them, please see our Cookies Policy.


  Information we receive from others

  If you register on our website through a Facebook or Google account we shall receive information about you from your account.

  We may also receive personal data about you from our security service partners and our payment providers, and from other users of our website and services if they choose to provide it to us for any reason.

  If we reasonably believe that any of the personal data you have provided to us is inaccurate, we may receive further personal data from third parties, confirming or otherwise, your identity.</p>

  <br>

  <h6>3.  Lawful use of your personal data</h6>

  <p>We will only use your personal data where we have a lawful basis to do so. The lawful purposes that we rely on under this Privacy Policy are:

  <ul>
    <li>consent (where you choose to provide it);</li>
    <li>performance of our contract with you;</li>
    <li>compliance with legal requirements; and</li>
    <li>legitimate interests. When we refer to legitimate interests we mean our legitimate business interests in the normal running of our business which do not materially impact your rights, freedom or interests.</li>
  </ul>

  If you wish to access and use our website, we shall use your personal data to allow you to do so all in accordance with our Terms of Use [link]. We may contact you as part of the provision of the services with information about your account and activities on our website.

  We may from time to time need to use your personal data to comply with any legal obligations, demands or requirements, for example, as part of anti-money laundering processes or to protect a third party’s rights, property, or safety. If any sums are owed by you to another user following the purchase of a product on our site, we shall provide your personal details to the other user in order that they can pursue the debt.

  We may also use your personal data for our legitimate interests including to improve our services and in connection with, or during negotiations of, any merger, sale of assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company; to deal with any customer services you require; for audit purposes and to contact you about changes to this Privacy Policy.</p>
  <br>

  <h6>4.  Who do we share your data with?</h6>

  <p>If you purchase any products from a retailer on our site, we shall provide your personal data to that retailer so that they can manage your collection and if necessary any returns.

  For our legitimate interests, we may share your personal data with our service providers, sub-contractors and agents that we may appoint to perform functions on our behalf and in accordance with our instructions, including IT service providers, payment providers, accountants, auditors and lawyers.

  We shall provide our service providers, sub-contractors and agents only with such of your personal data as they need to provide the service for us and if we stop using their services, we shall request that they delete your personal data or make it anonymous within their systems.</p>
  <br>

  <h6>5.  Where we hold and process your personal data</h6>

  <p>Some or all of your personal data may be stored or transferred outside of the European Economic Area (the EEA) for any reason, including for example, if our email server is located in a country outside the EEA or if any of our service providers are based outside of the EEA

  Where your personal data is transferred outside the EEA, it will only be transferred to countries that have been identified as providing adequate protection for EEA data or to a third party where we have approved transfer mechanisms in place to protect your personal data – i.e., by entering into the European Commission’s Standard Contractual Clauses, or by ensuring the entity is Privacy Shield certified (for transfers to US-based third parties).</p>
  <br>

  <h6>6.  Security</h6>

  <p>We shall process your personal data in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage. In particular, access is restricted to employees who need to know your personal data, and we use appropriate password protection and appropriate strong encryption electronic measures within our electronic data management systems.

  However, unfortunately, because of the nature of electronic storage, we cannot promise that your personal data or any other data you provide to us will always remain secure. If there is a security breach, we will do all that we can as soon as we can to stop the breach and minimise the loss of any data.</p>
  <br>

  <h6>7.  Marketing</h6>

  <p>You may consent to receive marketing email messages from us about the services we offer. You can choose to no longer receive marketing emails from us by contacting us or clicking unsubscribe from a marketing email. Please note that it may take us a few days to update our records to reflect your request.

  If you ask us to remove you from our marketing list, we shall keep a record of your name and email address to ensure that we do not send to you marketing information.</p>
  <br>


  <h6>8.  Your rights</h6>

  <p>You have a number of rights under applicable data protection legislation. Some of these rights are complex, and not all of the details have been included below. Further information can be found here

  <ul>
    <li>Right of access: You have the right to obtain from us a copy of the personal data that we hold for you.</li>
    <li>Right to rectification: You can require us to correct errors in the personal data that we process for you if it is inaccurate, incomplete or out of date.</li>
    <li>Right to portability: You can request that we transfer your personal data to another service provider.</li>
    <li>Right to restriction of processing: In certain circumstances, you have the right to require that we restrict the processing of your personal information.</li>
    <li>Right to be forgotten: You also have the right at any time to require that we delete the personal data that we hold for you, where it is no longer necessary for us to hold it. However, whilst we respect your right to be forgotten, we may still retain your personal data in accordance with applicable laws.</li>
    <li>Right to stop receiving marketing information: You can ask us to stop sending you information about our services, but please note we shall continue to contact you in relation to any matters relating to your account, if you have one.</li>
  </ul>

  You may be able to exercise some of these rights within your account on the website.

  We reserve the right to charge an administrative fee if your request in relation to your rights is manifestly unfounded or excessive.


  If you have any complaints in relation to this Privacy Policy or otherwise in relation to our processing of your personal data, please tell us. We shall review and investigate your complaint and try to get back to you within a reasonable time. You can also contact the Information Commissioner, see www.ico.org.uk or if you are based outside of the United Kingdom, please contact your local regulatory authority</p>
  <br>


  <h6>9.  Retention of personal data</h6>

  <p>Subject to the provisions of this Privacy Policy, we will retain personal data in accordance with applicable laws.

  In particular, we shall retain your personal data for as long as you access or use our services. However, we may also be required to retain personal data for a particular period of time to comply with legal, auditory or statutory requirements, including requirements of HMRC in respect of financial documents.</p>
  <br>

  <h6>10. General</h6>

  <p>If any provision of this Privacy Policy is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision shall be construed, as nearly as possible, to reflect the intentions of the parties and all other provisions shall remain in full force and effect.

  This Privacy Policy shall be governed by and construed in accordance with English law and you agree to submit to the exclusive jurisdiction of the English Courts.</p>
  <br>

  <p>Last updated: May 2020</p>
</div>
