// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }

.alert-info {
  text-align: center;
}

.alert {
  margin-bottom: 0px;
}

.alert-dismissible {
    padding-right: 4rem;
    text-align: center;
}
