.footer {
  background-color: #F4F4F4;
}

.footer h5, p, i {
  color: #707070;
}

.footer-copyright {
  color: #707070;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-l-15 {
  padding-left: 15px;
}

.bold {
  font-weight: bold;
}

.footer-links {
  font-size: 25px;
}
