.footer {
  background-color: #F4F4F4;
}

.footer p {
  margin-bottom: 5px;
}

.footer h5, p, i {
  color: #707070;
}

.footer-copyright {
  color: #707070;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-l-15  {
  margin-left: 15px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.bold {
  font-weight: bold;
}

.footer-links {
  font-size: 25px;
  justify-content: space-between;
  width: 200px;
  margin-top: 16px;
  float: right;
}

.footer-copyright {
  margin-top: 16px;
}
