.navbar {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #c4c4c4;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin-left: 10px;
}

.light-grey {
  color: #707070;
}
