.my-bookings-container {
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 15px;
}

.text-align-right {
  text-align: right;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.text-align-right {
  text-align: right;
}
