.my-bookings-container {
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 15px;
}

.text-align-right {
  text-align: right;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.text-align-right {
  text-align: right;
}


.dropdown-menu i, a {
  color: black;
}

.dropdown-menu a:hover {
    color: black;
    text-decoration: none;
  }

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.bold {
  font-weight: bold !important;
}

.justify-content-space-between {
  justify-content: space-between;
}
